/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
    margin: 0;
    background-color: #111111;
}

.verticalLine{
  background-color: #168A46;
  border-radius: 15%;
  width: 10px;
  overflow: hidden;
  float: left;
  height: 45px;
  margin-top: 10px;
}

h2{
    color: #ffdd4a;
    font-family: 'Space Mono', monospace;
    padding-left: 15px;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
  color: #ffdd4a;
  line-height: 150%;
}

strong{
  color: #168A46;
}