/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
    margin: 0;
    background-color: #111111;
}

.verticalLine{
  background-color: #168A46;
  border-radius: 15%;
  width: 10px;
  overflow: hidden;
  float: left;
  height: 45px;
  margin-top: 10px;
}

h2{
    color: #ffdd4a;
    font-family: 'Space Mono', monospace;
    padding-left: 15px;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
  color: #ffdd4a;
  line-height: 150%;
  margin-top: 0;
}

strong{
  color: #168A46;
}

.topHeaderButtonBox{
  margin-top: -80px;
  padding-bottom: 35px;
}

.topHeaderButton{
  color: #ffffff;
  background-color: indianred;
  border-radius: 25%;
  font-family: 'Space Mono', monospace;
  font-size: 2em;
  height: max-content;
  margin-left: 1250px;
  display: flex;
  cursor: pointer;
}

.topHeaderButton:hover{
  filter: drop-shadow(5px 5px 10px indianred);
  background-color: rgb(190, 90, 90);
}

.backgroundFirstBox{
  background-color: #1F2833;
}

.backGroundSecondBox{
  background-color: #161D23;
}

.backgroundThirdBox{
  background-color: #06110A;
}