<div *ngIf="loginHolder.isLoggedIn">
    <div class="joinGameBox">
        <div class="verticalLine"></div>
        <h2>Vorhandenem Spiel beitreten</h2>
        <div style="display: flex;">
            <div style="width: 800px;">
                <p>In der <strong>Warteschlange</strong> findest du alle Spieler, die ein Spiel erstellt haben<br>
                    und noch auf einen <strong>Gegner</strong> warten.<br>
                    Such dir einfach deinen <strong>Wunschgegner</strong> in der Liste aus und klicke auf
                    <strong>Join</strong>.<br>
                    Und schon bist du dabei! <strong>Lasst die Spiele beginnen!</strong></p>
                <div class="queue">
                    <div *ngIf="data.length>0">
                        <h2 style="margin-bottom: 0px; padding: 0">Wartende Spieler:</h2>
                        <div class="tableLine"></div>
                        <div *ngFor="let waitingGame of data, let i=index">
                            <div class="waitingGameElement">
                                <p class="waitingGameplayername">{{waitingGame.playerName}}</p>
                                <div class="columnLine"></div>
                                <div style="align-items: center; justify-content: center; width: 295px;">
                                    <button type="button" class="joinButton" (click)="JoinGame(i)">Join Game</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div div *ngIf="data.length==0">
                        <p style="margin-bottom: 5px;"><strong>Zurzeit keine wartenden Spieler</strong><br> Sei der erste und erstelle dein Spiel oben mit Klick auf
                            <strong>Create Game</strong></p>
                        <div class="tableLine"></div>
                    </div>
                </div>
            </div>
            <div class="waitingPicture">
            </div>
        </div>
    </div>
</div>