.joinGameBox{
    padding-left: 12.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #06110A;
}

.queue{
    width: 600px;
    margin-left: 100px;
    padding-bottom: 25px;
}

.tableLine{
    height: 5px;
    width: 100%;
    background-color: #168A46;
}

.waitingGameElement{
    display: flex;
    justify-content: center;
}

.waitingGameplayername{
    margin: 0;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 295px;
    text-align: right;
}

.joinButton{
    color: #ffffff;
    background-color: #168A46;
    border-radius: 25%;
    font-family: 'Space Mono', monospace;
    font-size: 1.25em;
    height: max-content;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.columnLine{
    height: 2;
    width: 5px;
    background-color: #168A46;
}

.joinButton:hover{
    filter: drop-shadow(5px 5px 10px #168A46);
    background-color: #167A46;
    animation: buttonZoom 2s infinite;
  }
  
  @keyframes buttonZoom {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.25, 1.25);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.waitingPicture{

    
    margin-left: 125px;
    height: 250px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 50%;
    background-size: cover;
    background-image: url(../../../assets/pictures/hourglass.svg);
}

.animation{
    animation-name: RotateCircle;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes RotateCircle{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}