<div class="RegisterView">
    <div class="verticalLine"></div>
    <h2>{{headLine}}</h2>
    <div class="boomImage">
      <link href="https://fonts.googleapis.com/css?family=Handlee&v1" rel="stylesheet">
      <p id="playNowText" (click)="ClickPlayNowText()">{{playContent}}</p>
      <img src="../../assets/pictures/boom.png" [class]="animationsEnabled()===true ? 'boomImagePicture' : ''" height="25%" width="25%">
    </div>
    <mat-card>
      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label style="color:#168A46">{{username}}</mat-label>
          <input matInput [(ngModel)]="RegisterName" placeholder="Your Name">
        </mat-form-field> 
          <button mat-stroked-button color="primary" (click)="RegisterPlayer()" [routerLink]="['/lobby']" id="button-submit">Register</button>
      </div>
    </mat-card>
  </div>