#button-submit {
    background-color: #168A46;
    color: #fff;
  
  }
  
  #button-submit:hover {
    filter: drop-shadow(5px 5px 10px #168A46);
    background-color: #167A46;
    animation: buttonZoom 2s infinite;
  }
  
  @keyframes buttonZoom {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.25, 1.25);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  .RegisterView{
    padding-left: 12.5%;
    padding-top: 0.5%;
    padding-bottom: 2.5%;
    background-color: #161D23;
  }
  
  mat-card {
    width: 20%;
    margin-left: 47.5%;
    height: 20%;
    background-color: darkslategray;
    border-radius: 7.5%;
  }
  
  
  .boomImage{
    padding-left: 5%;
    position: absolute;
    width: 1150px;
    float: left;
    box-shadow: 10px, 10px, grey;
    filter: drop-shadow(5px 5px 10px crimson);
  }
  
  @keyframes imageZoom {
    0% {
      transform: scale(1, 1);
      rotate: 0deg;
    }
    25%{
      rotate: -20deg;
    }
    50% {
      transform: scale(1.25, 1.25);
      rotate: 10deg;
    }
    75%{
      rotate: 30deg;
    }
    100% {
      transform: scale(1, 1);
      rotate: 0deg;
    }
  }
  
  .boomImagePicture:hover{
    animation: imageZoom 2s infinite;
  }
  
  #playNowText {
    float:left;
    font-family: 'Handlee', sans-serif;
    color: indianred;
    font-size: 60px;
    font-weight: 900;
    margin-right: 57.5px;
    margin-top: 70px;
    text-decoration: indianred wavy underline;
    text-decoration-thickness: 5px;
    text-shadow: 3px 3px darkred;
  }
  
  #playNowText {
    cursor: pointer;
  }
  
  .input-container {
    margin: 40px;
  }
  