<div class="gameRulesBox">
    <div class="verticalLine"></div>
    <h2>Spielregeln</h2>
    <div class="ruleContent">
        <div>
            <p><strong>Hier findest du noch einmal die wichtigsten Regeln zum Nachlesen:</strong><br>
            Es spielen <strong>zwei Spieler</strong> abwechselnd <strong>gegeneinander.</strong><br>
            Es gibt insgesamt <strong>7 Spalten</strong> mit jeweils <strong>6 Elementen.</strong><br>
            Bei jedem Zug hast du die Möglichkeit, <strong>eine Spalte</strong> zu wählen.<br>
            Wenn in dieser Spalte noch <strong>Platz vorhanden</strong> ist, wird der Stein <strong>abgelegt</strong>.<br>
            Du hast <strong>gewonnen</strong>, wenn du <strong>vier Steine</strong> in einer Reihe gelegt hast.<br>
            Deine Reihe kann <strong>waagerecht</strong>, <strong>senkrecht</strong> oder auch <strong>diagonal</strong> verlaufen.
        </p>
        </div>
        <div class="ruleImage">
    
        </div>
    </div>
</div>