<div class="aboutUs">
    <div class="verticalLine"></div>
    <h2>{{headLine}}</h2>
    <p [innerHTML]="aboutUsText"></p>
    <details>
        <summary class="teamDescription">
            {{teamDescription}}
        </summary>
        <div class="teamMembers">
            <div *ngFor="let developer of developerList; let indexOfElement=index;">
                <div class="userElement">
                    <div *ngIf="developer.isPictureLeft">
                        <div class="profilepicture" [class]="animationsEnabled==true ? 'animation' : ''"
                            style="float: left; margin-right: 70px; background-image: url('{{developer.profilePictureUrl}}');">
                        </div>
                        <div class="text" style="width: 650px;">
                            <h3>{{developer.devName}}</h3>
                            <ul class="listElementBox">
                                <div *ngFor="let activity of developer.projectActivities" class="listElement">
                                    <li>{{bulledPoint}} {{activity}}</li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="!developer.isPictureLeft" style="margin-top: 1%;">
                        <div class="text" style="float: left; margin-right: 70px; text-align: right;">
                            <h3 class="headLineRight">{{developer.devName}}</h3>
                            <ul class="listElementBox">
                                <div *ngFor="let activity of developer.projectActivities" class="listElement">
                                    <li>► {{activity}}</li>
                                </div>
                            </ul>
                        </div>
                        <div class="pictureRight" class="profilepicture" [class]="animationsEnabled==true ? 'animation' : ''"
                            style="background-image: url('{{developer.profilePictureUrl}}');"></div>
                    </div>
                </div>
                <div *ngIf="!(indexOfElement==developerList.length-1)" class="line"></div>
            </div>
        </div>
    </details>
</div>