<div class="gameRulesBox">
    <div class="verticalLine"></div>
    <h2>{{headLine}}</h2>
    <p><strong>{{subHeadLine}}</strong></p>
    <p>
        Spielen alle gerne! Doch wie waren nochmal die <strong>Regeln</strong>?<br>
        Im <strong>infoteam-Vier-Gewinnt</strong> gibt es <strong>drei</strong> verschiedene Phasen: Den
        <strong>Login</strong> (hier bist du gerade), die <strong>Wartelobby</strong> und das
        <strong>Spielfeld</strong>.<br>
        Öffne einfach das Menü und du erhälst mehr Informationen über die jeweilige Phase:
    </p>
        <div class="gameRulesInnerBox">
        <details open>
            <summary class="description">
                {{summaryContentOne}}
            </summary>
            <div class="innerContent">
                <p class="openedText">
                    Spitze! Der erste Erfolg ist, dass du die Seite aufgerufen hast<br>
                    Neben <strong>vielen nützlichen Informationen</strong>, kannst du dich hier auch
                    <strong>anmelden</strong><br>
                    Such dir dazu einfach deinen persönlichen <strong>Nickname</strong> aus, gib ihn unten im Feld ein<br>
                    und klicke auf <strong>Register</strong> - Und schon bist du dabei!
                </p>
                <div class="pathBox">
                    <div class="path"></div>
                    <div class="number">
                        1
                    </div>
                    <div class="path"></div>
                </div>
            </div>
            <div class="line"></div>
        </details>
        <details class="detailsBox">
            <summary class="description">
                {{summaryContentTwo}}
            </summary>
            <div class="innerContent">
                <p class="openedText">
                    In der Wartelobby hast du nun die <strong>Qual der Wahl</strong>! Du musst nun entscheiden, ob<br>du
                    einem
                    bereits <strong>vorhanden Spiel beitreten</strong> oder ein <strong>Eigenes erstellen</strong>
                    willst<br>
                    1) Such dir einen wartenden Spieler aus der Liste und klicke auf <strong>Spiel joinen</strong>.<br>
                    2) Oder du erstellst dein eigenes Spiel. Klicke hierzu einfach auf <strong>Spiel erstellen</strong>.</p>
                    <div class="pathBox">
                        <div class="path"></div>
                        <div class="number">
                            2
                        </div>
                        <div class="path"></div>
                    </div>
            </div>
            <div class="line"></div>
        </details>
        <details class="detailsBox">
            <summary class="description">
                {{summaryContentThree}}
            </summary>
            <div class="innerContent">
                <p class="openedText">
                    Jetzt geht´s ans Eingemachte! Wer wird gewinnen?<br>
                    Abwechseln spielen <strong>du</strong> und <strong>dein Gegner</strong> und legen einen
                    <strong>Stein</strong> in
                    eine <strong>Spalte</strong><br>
                    Wenn du <strong>vier Steine</strong> in <strong>einer Reihe</strong> liegen hast, hast du
                    <strong>gewonnen</strong>.<br>
                    Nach einem (mehr oder weniger) erfolgreichen Spiel landest du wieder in der <strong>Lobby</strong>.
                </p>
                <div class="pathBox">
                    <div class="path"></div>
                    <div class="number">
                        3
                    </div>
                    <div class="path"></div>
                </div>
            </div>
            <div class="line"></div>
        </details>
    </div>
    <p>Gib einfach <strong>deinen Nickname</strong> ein und klicke auf <strong>Register</strong> und schon du landest in
        der
        Lobby - <strong>Viel Spaß!</strong>
    </p>
</div>