.gameRulesBox{
    padding-left: 12.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #1F2833;
}

.description{
    font-size: 1.5em;
    color: #ffdd4a;
    padding-left: 15px;
    font-family: 'Space Mono', monospace;
}

.innerContent{
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.line{
    margin-top: 20px;
    margin-left: 40px;
    width: 875px;
    height: 2px;
    background-color: #168A46;
}