<div *ngIf="loginHolder.isLoggedIn">
    <div class="createGameBox">
        <div class="verticalLine"></div>
        <h2>{{headLine}}</h2>
        <p>Hier kannst du ganz einfach ein <strong>neues Spiel</strong> erstellen. <br>
        Dein Spiel landet dann in der <strong>Warteschlange</strong> und ist für andere Spieler zum <strong>Joinen sichtbar</strong>.</p>
        <div class="createButtonConentBox">
            <link href="https://fonts.googleapis.com/css?family=Handlee&v1" rel="stylesheet">
            <p id="createGameText" (click)="ClickCreateGameNow()">create your game now!</p>
            <button type="button" class="createGameButton" ngClass="animationsEnabled()==true ? animation" (click)="CreateGame()">{{buttonContent}}</button>
        </div>
    </div>
</div>