.board-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Board{
    background-color : #2B3945;

}
.SquareElement{
    height : 70px;
    width : 70px;
    background-color : #161D23;
    border-color : #FFFFFF;
    border-style : solid;
    border-radius : 50%;
    border-width : 5px;
    margin: 7px;
    padding-right: 0px;
}
.ColumnCounter{
    color : #FFFFFF;
    font-size : 30px;
    font-family : Verdana;
    margin-top : 20px;
    margin-bottom : 10px;
    text-align : center;
}
.ColumnButton {
    font-size: 20px;
    box-sizing: content-box;
    margin: 7px;
    padding: 5px;
    width: 66px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

.ColumnButton:hover {
    background-color: #c6c7c7;
}

.button-list {
    width: 660px;
}

.board-list {
    width: 660px;
    background-color: #2B3945;
    height: 566px;
    padding-bottom: 0 !important;
}

.number-list {
    width: 660px;
    height: 93px;
    padding-bottom: 0px !important;
    background-color: #2B3945;
    color: #FFF;
    font-size : 30px;
    font-family : Verdana;
}

.square-empty {
    background-color: #161D23;
}

.square-orange {
    background-color: #E57A00;
}

.square-blue {
    background-color: #0561AF;
}