<div class="topHeaderButtonBox">
    <button class="topHeaderButton" type="button" (click)="Logout()">{{buttonContent}}</button>
</div>
    <div class="welcomePlayerBox">
        <div class="verticalLine"></div>
        <h2>{{headLine + ", " + loginHolder.loggedInPlayer?.playerName + "!"}}</h2>
        <div class="contentBox">
                <p>
                    <strong>Jetzt wird´s ernst! Nur noch einen Schritt und du bist im Spiel!</strong><br>
                    Du hast nun <strong>zwei</strong> Möglichkeiten:<br>
                    Tritt einem bereits vorhandenem Spiel in der <strong>Warteschlange</strong> bei oder<br>
                    Erstelle <strong>dein eigenes</strong> Spiel und spiele gegen deine Freunde.
                </p>
        </div>
</div>
